
@{
    ViewBag.Title = "Chi tiết loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết loại sản phẩm</h2>

<div ng-app="myapp" ng-controller="myctrl">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại sản phẩm
        </dt>

        <dd>
            {{datas.CategoryName}}
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            {{datas.Description}}
        </dd>
    </dl>
    <button class="btn btn-success">
        <a ng-click="edit()"><i class="fa fa-info"></i> Sửa</a>
    </button>
    <button class="btn btn-danger">
        <a href="~/Admin/ProductsCategories/ViewData"><i class="fa fa-close"></i> Quay lại</a>
    </button>
</div>


@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script>
        var myapp = angular.module("myapp", []);
        myapp.controller("myctrl", function ($scope, $http) {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $http({
                url: "/Admin/ProductsCategories/DetailData/?id=" + id,
                method: "GET"
            }
            ).then(function (res) {
                $scope.datas = res.data;
                console.log($scope.datas);
            });

            $scope.edit = function () {
                window.location.href = "/Admin/ProductsCategories/EditData/"+id ;
            }
        });
    </script>
}

