
@{
    ViewBag.Title = "Trang loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-class="container-fluid" ng-app="myapp" ng-controller="myctrl">
    <div>
        Danh sách  sản phẩm <a class="btn btn-danger" href="InputData">Thêm mới</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group pull-left">
                    Show
                    <label>
                        <select class="form-control" ng-model="itemsPerPage" style="font-weight:normal;">
                            <option ng-value="1">1</option>
                            <option ng-value="2">2</option>
                            <option ng-value="5">5</option>
                            <option ng-value="10">10</option>
                            <option ng-value="15">15</option>
                            <option ng-value="20">20</option>
                        </select>
                    </label>
                    Entries
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group pull-right">
                    <label>
                        Search
                    </label>
                    <label>
                        <input placeholder="Search..." class="form-control" ng-model="seach" type="text" style="font-weight:normal;" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã loại sản phẩm
                </th>
                <th>
                    Tên loại sản phẩm
                </th>
                <th>
                    Mô tả
                </th>
                <th>

                </th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="x in data| filter: seach | limitTo: itemsPerPage:(currentPage-1)*itemsPerPage">
                <td>
                    {{$index+1}}
                </td>
                <td>
                    {{x.CategoryId}}
                </td>
                <td>
                    {{x.CategoryName}}
                </td>
                <td ng-bind-html="x.Description">
                </td>
                <td class="d-flex" style="border-right:none;border-bottom:none;border-left:none;">
                    <a ng-click="btndelete(x.CategoryId)" class="btn btn-primary mr-1"><i class="fa fa-trash"></i> </a>
                    <a ng-click="detail(x.CategoryId)" class="btn btn-success mr-1"><i class="fa fa-info"></i> </a>
                    <a ng-click="edit(x.CategoryId)" class="btn btn-warning"><i class="fa fa-pencil"></i> </a>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-6">
            <div class="pull-left">
                <br />
                <pre>Page:{{currentPage}}/{{numPages}}</pre>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <ul uib-pagination total-items="(data | filter:seach).length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true" num-pages="numPages"></ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.3/angular-sanitize.js" ; integrity="sha512-WsrQol2t85bun8XdIkjqTbNLgY54bCBgVZw+B+00eVritDAlCAcfYo92/53rFp63cKZpDa7t5r5lDDeKFcbUAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script>
        var myapp = angular.module("myapp", ['ngSanitize', 'ui.bootstrap']);
        myapp.controller("myctrl", function ($scope, $http) {
            $scope.data = [];
            $scope.currentPage = 1,
                $scope.itemsPerPage = 5;
            $http({
                url: "/Admin/ProductsCategories/GetAllData",
                method: "GET"
            }
            ).then(function (res) {
                console.log(res.data);
                $scope.data = res.data;
            });

            $scope.edit = function (id) {
                window.location.href = "/Admin/ProductsCategories/EditData/" + id;
            }

            $scope.detail = function (id) {
                window.location.href = "/Admin/ProductsCategories/DetailDataView/" + id;
            }

            $scope.btndelete = function (id) {
                var item = window.confirm("Bạn có muốn xóa sản phẩm này không ?");
                if (item == true) {
                    $scope.Cate = {};
                    $scope.Cate.CategoryId = id;
                    $http({
                        method: "POST",
                        url: "/Admin/ProductsCategories/DeleteCate/?id=" + $scope.Cate,
                        data: $scope.Cate
                    }).then(function (res) {
                        $scope.datadele = res.data;
                        /*  res.success("Xóa sản phẩm thành công")*/
                        alert("Xóa thành công");
                        window.location.reload();
                    })
                }
            }
        });
    </script>
}

