
@{
    ViewBag.Title = "Trang đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="d-flex justify-content-center form_container">
    <form method="post">
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="user" class="form-control input_user" value="" placeholder="username">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" name="password" class="form-control input_pass" value="" placeholder="password">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Nhớ lựa chọn của tôi</label>
            </div>
        </div>
        <div class="form-group">
            <p class="text-danger">
                @TempData["err"]
            </p>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Đăng nhập</button>
        </div>
    </form>
</div>

<div class="mt-4">
    <div class="d-flex justify-content-center links">
        Bạn chưa có tài khoản? <a href="#" class="ml-2">Đăng ký</a>
    </div>
    <div class="d-flex justify-content-center links">
        Bạn quên mật khẩu?
        <a href="#">Tìm lại mật khẩu</a>
    </div>
</div>

