
@{
    ViewBag.Title = "Sửa thông tin hóa đơn nhập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid" ng-app="app" ng-controller="ctrl">
    <form ng-submit="addData()">
        @Html.AntiForgeryToken()
        <h4>Sửa thông tin hóa đơn nhập</h4>
        <hr />
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    Nhà cung cấp
                </div>
                <div class="col-md-10">
                    <select class="form-control" ng-model="datas.Supplierid" ng-options="item.Supplierid as item.SupplierName for item in listsup"></select>
                </div>
                <br />

            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Nhân viên phụ trách
                </div>
                <div class="col-md-10">
                    <select class="form-control" ng-model="datas.UserId" ng-options="item.UserId as item.FullName for item in listuser"></select>
                </div>
                <br />

            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Ngày nhập
                </div>
                <div class="col-md-10">
                    <input type="date" class="form-control" ng-model="datas.ImportDate" />
                </div>
                <br />
                <br />
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Tổng tiền
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="datas.TotalPrice" />
                </div>
                <br />
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mt-2">
                    <button type="submit" class="btn btn-primary fa fa-save"> Lưu </button>
                    <a href="~/Admin/ImportBills/ViewData">Quay lại</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        CKEDITOR.replace('mota');
    </script>
    <script>
        var myapp = angular.module('app', []);
        myapp.controller('ctrl', function ($scope, $http, $httpParamSerializerJQLike) {
            $scope.datas = {};
            //Lấy mã sản phẩm hiển thị thông tin
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $http({
                url: "/Admin/ImportBills/DetailData/?id=" + id,
                method: "GET"
            }
            ).then(function (res) {
                $scope.datas = res.data;
                $scope.datas.ImportDate = new Date(parseInt($scope.datas.ImportDate.substr(6)));
                console.log($scope.datas)
            });   
            $http({
                url: "/Admin/Users/GetAllData",
                method: "GET"
            }
            ).then(function (res) {
                $scope.listuser = res.data;
            });
            $http({
                url: "/Admin/Suppliers/GetAllData",
                method: "GET"
            }
            ).then(function (res) {
                $scope.listsup = res.data;
            });


            $scope.addData = function () {
                Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                $scope.datas.__RequestVerificationToken = Token;
                dataRequest = $scope.datas;

                $http({
                    method: 'POST',
                    url: '/Admin/ImportBills/EditData',
                    data: $httpParamSerializerJQLike(dataRequest),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }
                }).then(function (res) {
                    if (res.data == false) {
                        alert("Lỗi sửa đổi bản ghi");
                    }
                    else {
                        alert("Thay đổi thông tin thành công");
                        window.location.href = "/Admin/ImportBills/ViewData";
                        window.location.reload;
                    }
                });



            }
        });
        myapp.filter("jsDate", function () {
            return function (x) {
                return new Date(parseInt(x.substr(6)));
            };
        });
    </script>
}

