
@{
    ViewBag.Title = "Sửa bản tin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid" ng-app="app" ng-controller="ctrl">
    <form name="myForm" ng-submit="addData()">
        @Html.AntiForgeryToken()
        <h4>Sửa đổi bản tin</h4>
        <hr />
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    Tiêu đề
                </div>
                <div class="col-md-10">
                    <input name="title" type="text" class="form-control" ng-model="datas.Title" required />
                </div>
                <div role="alert">
                    <span class="error" ng-show="myForm.title.$error.required">
                    </span>
                </div>
                <br />

            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Ngày tạo
                </div>
                <div class="col-md-10">
                    <input type="date" class="form-control" ng-model="datas.DateSubmitted" />
                </div>
                <br />
                <br />
            </div>

            <div class="form-group mt-5">
                <div class="col-md-10">
                    <label>
                        Trạng thái: <input type="checkbox" ng-model="datas.Status" ng-checked="stt" />
                    </label>
                </div>
                <br />
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" class="form-control" name="image" ng-model="datas.Image" />

                    <button type="button" class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>
                    <br />
                    <img style="width:100px;height:100px;" src="{{datas.Image}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    Người tạo
                </div>
                <div class="col-md-10">
                    <select class="form-control" ng-model="datas.UserId" ng-options="x.UserId as x.FullName for x in listuser">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    Nội dung
                </div>
                <div class="col-md-10">
                    <textarea name="mota" ng-model="datas.Content" class="form-control" id="mota"></textarea>
                    <div></div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mt-2">
                    <button type="submit" class="btn btn-primary fa fa-save"> Lưu </button>
                    <a href="~/Admin/News/ViewData">Quay lại</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        CKEDITOR.replace('mota');
    </script>
    <script>
        var myapp = angular.module('app', []);
        myapp.controller('ctrl', function ($scope, $http, $httpParamSerializerJQLike) {

          
            $scope.datas = {};
            //Lấy mã sản phẩm hiển thị thông tin
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $http({
                url: "/Admin/News/DetailData/?id=" + id,
                method: "GET"
            }
            ).then(function (res) {             
                $scope.datas = res.data;
                $scope.datas.DateSubmitted = new Date(parseInt($scope.datas.DateSubmitted.substr(6)));
                console.log($scope.datas)
            });
            $http({
                url: "/Admin/Users/GetAllData",
                method: "GET"
            }
            ).then(function (res) {
                $scope.listuser = res.data;
            });

            $scope.addData = function () {
                var des = CKEDITOR.instances.mota.getData();
                $scope.datas.Description = des;
                Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                $scope.datas.__RequestVerificationToken = Token;
                dataRequest = $scope.datas;

                $http({
                    method: 'POST',
                    url: '/Admin/News/EditData',
                    data: $httpParamSerializerJQLike(dataRequest),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }
                }).then(function (res) {
                    if (res.data == false) {
                        alert("Lỗi sửa đổi bản ghi");
                    }
                    else {
                        alert("Thay đổi thông tin thành công");
                        window.location.href = "/Admin/News/ViewData";
                        window.location.reload;
                    }
                });


               
            }
            $scope.ChooseImage = function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $scope.$apply(function () {
                        $scope.datas.Image = fileUrl;
                    })
                }
                finder.popup();
            }
        });
        myapp.filter("jsDate", function () {
            return function (x) {
                return new Date(parseInt(x.substr(6)));
            };
        });
    </script>
}

